In [10]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [14]:
df = pd.read_csv('largedata_weather_trips_2022.csv', usecols=['start_lat', 'start_lng','end_lat','end_lng','end_station_name', 'start_station_name'])

In [16]:
df.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng
0,Berkeley Pl & 6 Ave,Windsor Pl & 8 Ave,40.676530,-73.978469,40.660906,-73.983074
1,21 St & 4 Ave,Degraw St & Smith St,40.662584,-73.995554,40.682915,-73.993182
2,48 St & Barnett Ave,Queens Plaza North & Crescent St,40.750016,-73.915409,40.751102,-73.940737
3,7 Ave & Central Park South,8 Ave & W 33 St,40.766741,-73.979069,40.751551,-73.993934
4,Jerome Ave & W 195 St,Sherman Ave & E 166 St,40.868858,-73.896500,40.831305,-73.917448

In [18]:
df['value']=1
df_group=df.groupby(['start_station_name' , 'end_station_name'])['value'].count().reset_index()

In [20]:
df_group.rename(columns={'value':'trips'}, inplace=True)

In [22]:
df_group.head()

  start_station_name  end_station_name  trips
0   1 Ave & E 110 St  1 Ave & E 110 St   1473
1   1 Ave & E 110 St   1 Ave & E 18 St      2
2   1 Ave & E 110 St   1 Ave & E 30 St      4
3   1 Ave & E 110 St   1 Ave & E 39 St      1
4   1 Ave & E 110 St   1 Ave & E 44 St     12

In [24]:
print(df_group ['trips'].sum())
print(df.shape)

30618148
(30689921, 7)

In [26]:
df_group.shape

(1013414, 3)

In [28]:
df_m = pd.merge(df, df_group, on = ['start_station_name', 'end_station_name'], how = 'inner')

In [32]:
df_m=df_m.drop(columns= ['value'])

In [34]:
df_m.head(2)

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trips
0,Berkeley Pl & 6 Ave,Windsor Pl & 8 Ave,40.67653,-73.978469,40.660906,-73.983074,23
1,Berkeley Pl & 6 Ave,Windsor Pl & 8 Ave,40.67653,-73.978469,40.660906,-73.983074,23

In [38]:
df_m.to_csv('finallocationsformap1.csv')

In [15]:
df_m.rename(columns = {'start_lat':'Latitude_x', 'start_lng':'Longitude_x', 'end_lat':'Latitude_y', 
                       'end_lng': 'Longitude_y'})

,start_station_name,end_station_name,Latitude_x,Longitude_x,Latitude_y,Longitude_y,trips
0,Berkeley Pl & 6 Ave,Windsor Pl & 8 Ave,40.676530,-73.978469,40.660906,-73.983074,2
1,21 St & 4 Ave,Degraw St & Smith St,40.662584,-73.995554,40.682915,-73.993182,1
2,48 St & Barnett Ave,Queens Plaza North & Crescent St,40.750016,-73.915409,40.751102,-73.940737,1
3,7 Ave & Central Park South,8 Ave & W 33 St,40.766741,-73.979069,40.751551,-73.993934,2
4,Jerome Ave & W 195 St,Sherman Ave & E 166 St,40.868858,-73.896500,40.831305,-73.917448,1
...,...,...,...,...,...,...,...
199995,W 15 St & 7 Ave,Spring St & Hudson St,40.739355,-73.999318,40.725840,-74.007653,7
199996,Norman St & Wyckoff Ave,Forest Ave & Summerfield St,40.695349,-73.903031,40.699220,-73.897950,21
199997,E 33 St & 5 Ave,W 41 St & 8 Ave,40.747659,-73.984907,40.756405,-73.990026,16
199998,E 33 St & 5 Ave,Spring St & Hudson St,40.747781,-73.984663,40.725840,-74.007653,3
199999,Centre St & Seneca Ave,George St & Wilson Ave,40.699690,-73.902200,40.702997,-73.929970,1

In [16]:
df_m.shape

(200000, 7)

In [17]:
df_m.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trips
0,Berkeley Pl & 6 Ave,Windsor Pl & 8 Ave,40.676530,-73.978469,40.660906,-73.983074,2
1,21 St & 4 Ave,Degraw St & Smith St,40.662584,-73.995554,40.682915,-73.993182,1
2,48 St & Barnett Ave,Queens Plaza North & Crescent St,40.750016,-73.915409,40.751102,-73.940737,1
3,7 Ave & Central Park South,8 Ave & W 33 St,40.766741,-73.979069,40.751551,-73.993934,2
4,Jerome Ave & W 195 St,Sherman Ave & E 166 St,40.868858,-73.896500,40.831305,-73.917448,1

In [18]:
sample_df = df_m.sample(n=200000, random_state=1)

In [19]:
sample_df.isna().sum()

start_station_name    0
end_station_name      0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
trips                 0
dtype: int64

In [22]:
import gc  # This imports the garbage collector module.
gc.collect()  # This triggers the garbage collector to free up memory.

0

In [23]:
m = KeplerGl(height = 400, data={"New York Bike Rides": sample_df})
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':              start_station_name               end_station_name  start_lat  \
49673   …

In [24]:
config = m.config

In [25]:
# widget can't load within jupyter lab. 
# using a small sample first.

In [26]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [27]:
m.save_to_html(file_name = 'CBTEST.html', read_only = False, config = config)

Map saved to CBTEST.html!